node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts

#Foundry files
out
forge-cache
.gas-snapshot

#Temp files (used by deployment scripts)
!/tmp/.keep
/tmp/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
